<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<div class="style">
	<h1>Editar artículo</h1>
	<%= render "form"%>
</div>